body {
   background-color: lightgrey;
 /*  filter: invert(100%);  
   filter: hue-rotate(200deg)   */
   
   }

p {
  all: revert !important;  /* откатываем к стилям по умолчанию браузера */
  color: blue !important;  /* задаём новый цвет */
}






