/*   слегка затемняем фон экрана (просто для комфортного восприятия цветов)  */
body {
   background-color: lightgrey;
}

/*   стили для меню  */
ul li {
  display: inline-block;
  margin: 5px 10px;
  list-style-type: none;
}

/*   стили для изменения (обхода) встроенного стиля */
p::before {
    content: "Текст можно добавить другим цветом";
    color: orange !important;
}
body :has(p) {
    color: orange !important;
}

body {
    color: red !important;
}