body {background-color: lightgrey;} /* слегка затемняем фон экрана (просто для комфортного восприятия цветов) */
div {width: 550px; margin: 0 auto;} 

/*   стили для меню  */
ul li {
  display: inline-block;
  margin: 5px 10px;
  list-style-type: none;
}

/*   стили для изменения (обхода) встроенного стиля */
body p {
  mix-blend-mode: difference; /* в данном случае применён вариант перекраски, определяемый, как разность цвета фона и исходного цвета текста*/
  -webkit-mix-blend-mode: difference; 
  -moz-mix-blend-mode: difference;    
  -ms-mix-blend-mode: difference;     
  -o-mix-blend-mode: difference; 
}