
body {background-color: lightgrey;} /* слегка затемняем фон экрана (просто для комфортного восприятия цветов) */
div {width: 550px; margin: 0 auto;} 

/*   стили для меню  */
ul li {
  display: inline-block;
  margin: 5px 10px;
  list-style-type: none;
}

/*   стили для изменения (обхода) встроенного стиля */
body > div + p {
   filter: invert(100%);  
   -webkit-filter: invert(100%); 
   -moz-filter: invert(100%);    
   -ms-filter: "invert(100%)";   
   -o-filter: invert(100%); 
}