body {background-color: lightgrey;} /* слегка затемняем фон экрана (просто для комфортного восприятия цветов) */
div {width: 550px; margin: 0 auto;} 

/*   стили для меню  */
ul li {
  display: inline-block;
  margin: 5px 10px;
  list-style-type: none;
}

/*   стили для изменения (обхода) встроенного стиля */
body p{
  filter: hue-rotate(210deg);
  -webkit-filter: hue-rotate(210deg); 
  -moz-filter: hue-rotate(210deg);    
  -ms-filter: "hue-rotate(210deg)";   
  -o-filter: hue-rotate(210deg);   
}
