body {background-color: lightgrey;} /* слегка затемняем фон экрана (просто для комфортного восприятия цветов) */
div {width: 550px; margin: 0 auto;} 

/*   стили для меню  */
ul li {
  display: inline-block;
  margin: 5px 10px;
  list-style-type: none;
}

/*   стили для изменения (обхода) встроенного стиля */
body > div + p::first-line {
   color:red;
}
body > div + p::first-letter {
   color:rgb(81, 0, 255);
}

/*   стили для изменения (обхода) встроенного стиля для старых браузеров */
body > div + p:first-line {
   color:red;
}
body > div + p:first-letter {
   color:rgb(81, 0, 255);
}
